.teste{
    height: 100vh;
    background-image: radial-gradient(circle at 37.72% -19.64%, #fff521 0, #faf714 8.33%, #dff80e 16.67%, #c2f914 25%, #a1f720 33.33%, #78f52e 41.67%, #3cf23c 50%, #00ee4c 58.33%, #00ea5d 66.67%, #00e670 75%, #00e383 83.33%, #00df99 91.67%, #00dcaf 100%);
}



@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: radial-gradient(circle at 50% -20.71%, #ff57d2 0, #ff4edb 12.5%, #f046e3 25%, #d63feb 37.5%, #b53cf2 50%, #8c3df9 62.5%, #4f40ff 75%, #0046ff 87.5%, #004bff 100%);

background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.back-menu a{
    padding-top: 20px !important;
    padding-left: 20px;
    text-decoration: none;
    color: black;

}
.back-menu{
    padding-top: 10px;
}
.back-menu a:hover{
    color:brown;
}
.container{
    padding-top: 100px;
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group{
    margin-top: 10px;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;

}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
margin-top: 10px;
margin-bottom: 10px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}