
@media (max-width: 600px)
{
  body{
    background-color: blueviolet !important;
    
  }
  .perfil{
   
    padding-bottom: 165px !important;
  }
}

@media (max-width: 520px)
{
  body{
    background-color: rgb(208, 226, 43) !important;
  }

  .perfil{
   
    padding-bottom: 250px !important;
  }

  .apresentacao{
    padding-top: 20px;
  }
}

@media (max-width: 768px)
{
    #sobre {
        margin-top: 180px;

    }
}

@media (max-width: 314)
{
    .perfil{
        margin-bottom: 233px;
      }
}